.Burger {
  width: 100%;
  margin: auto;
  text-align: center;
  height: 300px;
  overflow: scroll;
}

@media (min-width: 1300px) and (min-height: 900px) {
  .Burger {
    width: 1300px;
    height: 800px;
  }
}

@media (min-width: 992px) and (min-height: 700px) {
  .Burger {
    width: 900px;
    height: 750px;
  }
}

@media (min-width: 768px) and (min-height: 600px) {
  .Burger {
    width: 700px;
    height: 500px;
  }
}

@media (min-width: 480px) and (min-height: 401px) {
  .Burger {
    width: 430px;
    height: 350px;
  }
}
